body {
    line-height: 1.42857143;
}

label {
    font-size: 20px;
}

h1#course {
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
}
h2#enroll {
    padding-left: 20px;
    font-size: 25px;
}
h3#detail {
    padding-left: 20px;
    font-size: 25px;
}

.btn-block {
    display: block;
    /*width: 80%;*/
}

#your-course {
    margin-left: 531px;
}

.student-name{
    transform: translate(550px, 150px);
    font-weight: bold;
}
.student-id{
    transform: translate(550px, 150px);
    font-size: 30px;
}

h3#content {
    float: left;
    font-weight: bold;
}

h3#text {
    float: left;
    padding-left: 20px;
}

/*a.navbar-brand {
    color: #57B96D;
    font-size: 30px;
    line-height: normal;
}*/


.card-inverse .card-text {
    color: #F5F5F5;
    padding-left: 50px;
}

/*.table thead th {
    width: 30%;
    text-align: center;
    vertical-align: middle;
}*/

.navbar-fixed-top {
    background-color: white;
    border-color: #57B96D;
    height: 60px;
}

.your-course-table-group {
    margin-left: 1100px;
    transform: translate(0px, -2904px);
}

.table{
    max-width: 600px;
    vertical-align: middle;
    transform: translate(0px, -150px);
}

td {
   vertical-align: middle; 
}

.container {
    width: 300px;
    margin: 200px auto;
}

.card#personal-information{
    max-width: 800px;
    margin: 200px auto;
    height: 211px;
}
.card#academic-information{
    max-width: 800px;
    margin: auto;
    transform: translate(0px, -150px);
    height: 400px;
}

.card-title {
    /*word-spacing: 10px;*/
}

.table-group {
    width: 600px;
    margin: 250px;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-inline {
    margin-left: 270px;
    transform: translate(0px, 80px);
}

#my-nav {
    background-color:#229922;
}

/*Sidebar*/
nav.navbar.navbar-inverse.sidebar.ng-scope {
    position: fixed;
    height: 100%;

}

    body,html{
        height: 100%;
    }

    /* remove outer padding */
    .main .row{
        padding: 0px;
        margin: 0px;
    }

    /*Remove rounded coners*/

    nav.sidebar.navbar {
        border-radius: 0px;
    }

    nav.sidebar, .main{
        -webkit-transition: margin 200ms ease-out;
        -moz-transition: margin 200ms ease-out;
        -o-transition: margin 200ms ease-out;
        transition: margin 200ms ease-out;
    }

    /* Add gap to nav and right windows.*/
    .main{
        padding: 10px 10px 0 10px;
    }

    /* .....NavBar: Icon only with coloring/layout.....*/

    /*small/medium side display*/
    @media (min-width: 768px) {
        ul.nav.navbar-nav {
            width: 100%;
        }

        /*Allow main to be next to Nav*/
        .main{
            position: absolute;
            width: calc(100% - 40px); /*keeps 100% minus nav size*/
            margin-left: 40px;
            float: right;
        }

        /*lets nav bar to be showed on mouseover*/
        nav.sidebar:hover + .main{
            margin-left: 200px;
        }

        /*Center Brand*/
        nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
            margin-left: 0px;
        }
        /*Center Brand*/
        nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
            text-align: center;
            width: 100%;
            margin-left: 0px;
        }

        /*Center Icons*/
        nav.sidebar a{
            padding-right: 13px;
        }

        /*adds border top to first nav box */
        nav.sidebar .navbar-nav > li:first-child{
            border-top: 1px #e5e5e5 solid;
        }

        /*adds border to bottom nav boxes*/
        nav.sidebar .navbar-nav > li{
            border-bottom: 1px #e5e5e5 solid;
        }

        /* Colors/style dropdown box*/
        nav.sidebar .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        /*allows nav box to use 100% width*/
        nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
            padding: 0 0px 0 0px;
        }

        /*colors dropdown box text */
        .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
            color: #777;
        }

        /*gives sidebar width/height*/
        nav.sidebar{
            width: 200px;
            height: 100%;
            margin-left: -160px;
            float: left;
            z-index: 8000;
            margin-bottom: 0px;
        }

        /*give sidebar 100% width;*/
        nav.sidebar li {
            width: 100%;
        }

        /* Move nav to full on mouse over*/
        nav.sidebar:hover{
            margin-left: 0px;
        }
        /*for hiden things when navbar hidden*/
        .forAnimate{
            opacity: 0;
        }
    }

    /* .....NavBar: Fully showing nav bar..... */

    @media (min-width: 1330px) {

        /*Allow main to be next to Nav*/
        .main{
            width: calc(100% - 200px); /*keeps 100% minus nav size*/
            margin-left: 200px;
        }

        /*Show all nav*/
        nav.sidebar{
            margin-left: 0px;
            float: left;
        }
        /*Show hidden items on nav*/
        nav.sidebar .forAnimate{
            opacity: 1;
        }
    }

    nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #CCC;
        background-color: transparent;
    }

    nav:hover .forAnimate{
        opacity: 1;
    }
    section{
        padding-left: 15px;
    }

/*Button*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$green: #5bb75b; // Download green color
$white: #ffffff;
$blue-windows: #3498db; // windows color
$gray-mac: #95a5a6; // Mac Gray color
$gray-dark:#555555;
$gray-darkest: #1a1a1a;  

$btnHeight: 82px;

.transition-ano {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/************************************\
Setup
\************************************/

*{
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  font-family: 'Open Sans', sans-serif;
  background: url("http://ghostlab.vanamco.com/img/hero_img.jpg");
  background-size: cover;
}
.container{
  width: 700px;
  margin: 10em auto;
  position: relative;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}


/************************************\
INTERESTING STYLES
\************************************/

.btn-wrapper-shop,
.btn-wrapper-download{
  height: 82px;
  float: left;
}

.download-btns{
  min-width: 150px;
  background-color: #5bb75b;
  color: white;
  text-align: center;
  line-height: 82px;
  font-size: 1.4em;
  cursor: pointer;
}

.mac-btn,
.windows-btn{
  height: 82px;
  width: 150px;
  float: left;
  font-size: 1.6em;
}


.mac-btn{
  background-color: $gray-mac;
}
.windows-btn{
  background-color: $blue-windows;
}

.win-btn-wrapper{
  display: block;
  width: 150px;
  height: 82px;
  float: left;
}

.store-btn,
.download-text{
  height: 50px;
  display: block;
  transform: translateY(-16px);
  a{  
    float: left;
    background-color: $gray-dark;
    color: white;
    padding: 0 1.3em;
    font-size: 1.5em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    line-height: 82px;
    text-decoration: none;
  }
}

th.ng-binding {
    vertical-align: middle !important;
}

td.ng-binding {
    vertical-align: middle !important;
}

.store-btn{
  margin-left: 1em;
  min-width: 2em;
}

#shop-info,
#download-info{
  color: $white;
  font-size: 0.8em;
  text-align: center;
}

#shop-info{
  margin-left: 1.2em;
}

.windows-bit{
  position: absolute;
  width: 150px;
  left: 0px;
  top: -82px;
  //border-bottom:20px solid $blue-windows;
  z-index: 9;
  li{
    list-style: none;
    text-align: center;
    display: inline-block;
    float: left;
    width: 50%;
    display: table;
    &:first-child{
      border-right: 1px solid lighten($gray-darkest, 10%);
    }
    a{
      background-color: $gray-darkest;
      color: lighten($gray-darkest, 60%);
      display: block;
      font-weight: lighter;
      font-size: 1em;
      height: 68px;
      display: table-cell; 
      vertical-align: middle;
      text-decoration: none;
      letter-spacing: 1px;
      
      &:hover{
        background-color: lighten($gray-darkest, 10%);
        color: $white;
        @extend .transition-ano;
      }
    }
  }
}